@charset "utf-8";

/* 화면 오른쪽 고정 메뉴 */
#menu {position: fixed; z-index: 2; top:50%; right:0; transform: translateY(-50%);}

#menu > li {width:70px; height:50px; background-color: #444; text-align: center; vertical-align: middle; border-radius: 15px 0 0 15px; margin-bottom: 5px;}
#menu > li > a {display: block; width: 100%; height: 100%; font-size: 25px; color: orange; padding-top: 7px;}
#menu > li > a > span {display: block; font-size: 10px; color:#999; margin-top: 3px;}
#menu > li:hover {background-color: #333;}
#menu > li.active > a {color:#fff;}
#menu > li.active > a > span {color:#fff;}

/* home */
.section01 > .home_wrap {width:1300px; height:100%; margin:0 auto; position: relative;}
.section01 > .home_wrap > .txt {font-size: 48px; color: #fff; position: absolute; top:20%; left:50%; transform: translate(-50%, -50%);}
.section01 > .home_wrap > .imgbox {width:400px; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); }
.section01 > .home_wrap > .imgbox > img {width:100%;}
.section01 > .home_wrap > .imgbox > img:not(:first-of-type) {position: absolute; width: 80px;}

/* #notebook_img {} */
#braket_img {top:30px; left:70px;}
#css_img {top: -20px; left:280px;}
#setting_img {top:150px; left:405px; width:50px;}
#book_img {top: 80px; left:-30px; width:200px;}
#phone_img {bottom:-20px; left:20px; width:120px;}
#js_img {bottom:230px; left:400px;}
#cup_img {bottom:-20px; right:-70px; width:120px;}
#x_img {bottom:160px; left:15px; width:100px;}
#html_img {bottom:12px; left:123px; width:260px;}
#jquery_img {bottom:320px; left:100px; width:100px;}



/* 공통 */
.section_wrap {width:1300px; height: 100%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; position: relative;}
.section_wrap > .introduce {display: flex; flex-flow: row wrap; width: 40%; padding-right: 150px;}
.section_wrap > .introduce > h1 {font-size: 40px; margin-bottom: 50px; width: 100%;}
.section_wrap > .introduce > h2 {font-size: 30px; margin-bottom: 10px; width: 100%;}
.section_wrap > .introduce > h3 {font-size: 20px; margin-bottom: 50px; width: 100%;}
.section_wrap > .introduce > h4 {font-size: 18px; margin-bottom: 10px; width: 100%;}
.section_wrap > .introduce > ul {display:flex; margin-bottom: 50px;}
.section_wrap > .introduce > ul > li {width:30px; height: 30px; border-radius: 50%; margin-right: 10px;}
.section_wrap > .introduce > p {width: 100%; margin-bottom: 50px; line-height: 1.4; font-size: 12px;}
.section_wrap > .introduce > a {display: inline-block; width:130px;  background-color: #333; color: #fff; margin-right: 10px; text-align: center;  border: 1px solid #333; padding:8px 0;}
.section_wrap > .introduce > a:last-of-type {width:40px;}
.section_wrap > .introduce > a:hover {background-color: #fff; color: #333;}


.section_wrap > .webpage {width: 60%; height: 100%;}
.section_wrap > .webpage > .imgbox {width:100%; height: 100%; position: relative; overflow: hidden;}
.section_wrap > .webpage > .imgbox > img {width:100%; height: auto;}
.section_wrap > .webpage > .imgbox > a {width:100%; height: 100%; position: absolute; top:0; left:0;}
.section_wrap > .webpage > .imgbox > a > svg {color: orange; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 40px; display: none;}
.section_wrap > .webpage > .imgbox > a:hover {background-color: rgba(0, 0, 0, 0.3);}
.section_wrap > .webpage > .imgbox > a:hover > svg {display: block;}


.section_wrap > .mobile {position: absolute; background-image: url("../img/phone.png"); background-size: 100% 100%; z-index: 5; width: 235px; height: 490px; top:20%; left:32%; overflow: hidden;} 
.section_wrap > .mobile > div {position:absolute; width:220px; height:460px; top:17px; left:8px; overflow: hidden; border-radius: 20px;} 
.section_wrap > .mobile > div > img {width:100%;} 



/* 프로젝트1 : 교보문고 */
.section02 > .section_wrap > .introduce > h2 {color: #5e6b9e;}
.section02 > .section_wrap > .introduce > ul > li:first-of-type {background-color: #5e6b9e;}
.section02 > .section_wrap > .introduce > ul > li:nth-of-type(2) {background-color: #353f67;}


/* 프로젝트2 : exhibiz */
.section03 > .section_wrap > .introduce > h2 {color: #ec167f;}
.section03 > .section_wrap > .introduce > ul > li:first-of-type {background-color: #ec167f;}
.section03 > .section_wrap > .introduce > ul > li:nth-of-type(2) {background-color: #883ff9;}
.section03 > .section_wrap > .introduce > ul > li:nth-of-type(3) {background-color: #101010}


/* 프로젝트3 : piquant */
.section04 > .section_wrap > .introduce > h2 {color: gold;}
.section04 > .section_wrap > .introduce > ul > li:first-of-type {background-color: gold;}
.section04 > .section_wrap > .introduce > ul > li:nth-of-type(2) {background-color: #333;}


/* 프로젝트4 : 몽촌반찬 */
.section05 > .section_wrap > .introduce > h2 {color: #1e1a34;}
.section05 > .section_wrap > .introduce > ul > li:first-of-type {background-color: rgba(18,42,78,0.1);}
.section05 > .section_wrap > .introduce > ul > li:nth-of-type(2) {background-color: #333;}
.section05 > .section_wrap > .introduce > ul > li:last-of-type {background-color: #1e1a34;}


/* intro */
#intro {width:1300px; height:100%; margin: 0 auto; padding:100px 50px;}
#intro > .txt {width:100%; height:auto; text-align: center; font-size: 48px; color:#fff;}
#intro > .icon {width:100%; height: 40px; display: flex; justify-content: center; margin:50px 0;}
#intro > .icon > li {width:40px; height: 100%; position: relative; margin-right: 20px; border: 1px solid #fff; border-radius: 50%; background-color: #fff; cursor: pointer;}
#intro > .icon > li > a {width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; color:#333; font-size: 22px;}
#intro > .icon > li:hover {background-color: #000; border-color: #000;}
#intro > .icon > li:hover > a {color:#fff;}
#intro > .icon > li:hover > a > span {display: block;}
#intro > .icon > li > a > span {position: absolute; top:40px; left:-130%; min-width: 150px;  background-color: #000; border-radius: 20px; display: none; font-size: 12px; text-align: center; padding:5px 8px;}

#intro > .intro_container {background-color: #eee; border-radius: 10px; overflow: hidden; width:1000px; margin:0 auto; display: flex;}
.intro_container > .intro_img {width:300px; height:400px;}
.intro_container > .intro_img > img {width:100%; height:100%;}

.intro_container > .intro_info {padding:50px; width: 700px;}
.intro_container > .intro_info > table {width:100%; line-height: 30px;}
.intro_container > .intro_info > table > th {width:200px;}
.intro_container > .intro_info > table > td {width:200px;}